.cart-container {
  display: flex;
  padding: 3rem;
  gap: 2rem;
  height: calc(100vh - 12rem);
}

p {
  text-transform: capitalize;
}

main {
  flex: 2;
}

aside {
  flex: 1;
}

aside .cart {
  display: flex;

  flex-direction: column;
  text-align: center;
  gap: 5rem;
}

aside button {
  background-color: black;
  color: white;
  padding: 0.5rem;
  width: 100%;
}

.cart a {
  display: inline-block;
  margin-top: 2rem;
  background-color: black;
  padding: 1rem;
}

main .card-container {
  padding: 1rem 2rem;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

main .card-container .emty-cart {
  background-color: black;
}

.card-container .card {
  display: flex;
  gap: 1rem;

}

main .card-container .card {
  height: 200px;
  border-top: 1px solid rgb(117, 117, 117);
  padding-top: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  width: 100%;
}

.card .buttons {
  display: flex;
  gap: 0.5rem;
}

.card .header {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.card-container .card img {
  width: 150px;
  height: 150px;
}

.empty-cart {
  margin-top: 1rem;
  display: inline-block;
  width: 100%;
  background-color: black;
  color: white;
  padding: 0.75rem;
  text-transform: uppercase;
}

.checkout {
  display: block;
}

.checkout h1 {
  text-transform: uppercase;
  text-align: start;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.card-container .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}