@import url("./navigation.css");
@import url("./home.css");
@import url("./cart.css");
@import url("./shop.css");
@import url("./loading.css");

:root {
  --color-: #6b6375;
  --color-black: #08060d;
  --color-white: #fff;

  --border: #e5e4e7;
  --color-background: #ececec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;

  --general-padding: (0rem 1rem);
}

html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
}

a {
  color: white;
  text-decoration: none;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}
