nav {
  background-color: var(--color-black);
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 15rem;
  align-items: center;
  position: sticky;
}

nav .brand-name {
  font-size: 1.8rem;
  font-weight: 900;
  text-transform: uppercase;
}

nav div {
  display: flex;
  gap: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  border-bottom-color: white;
}

nav a.active {
  border-bottom-color: white;
  font-weight: 800;
}
