.shop {
  height: calc(100vh - 12rem);
  padding: 3rem;
}

.shop .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.shop .card {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.shop .card img {
  width: 100px;
  height: 150px;
}

.shop .choices {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1.5rem;
}

.shop .choices button {
  background: none;
  border: none;
  color: black;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
}

.shop .choices button:hover {
  border-bottom: 2px solid black;
}

.shop .choices button.active {
  border-bottom: 2px solid black;
}

.shop .add-button {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  align-items: center;
}

.shop .add-icon:hover {
  cursor: pointer;
}
